

nav {
    text-align: right;
    background-color: #fee3c4;
  }

section {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  background-color: #fee3c4;
}

.main-paragraphs {
  padding: 10px;
}

body {
  background-color: #ddb887;
}

section img {
  width: 100%;
}

header img {
  width: 15%;
}

